# Configurações do banco de dados PostgreSQL
DB_HOST=python-serverless-api-db.crgeq4akytwm.sa-east-1.rds.amazonaws.com
DB_NAME=python_serverless_api
DB_USER=postgres
DB_PASSWORD=apiserver
DB_PORT=5432